@import url(https://fonts.googleapis.com/css2?family=Abel:700);


#wrapper{
    position: relative;
    width: 98vw;
    height: 98vh;
}

.content{
    width: 100%;
    position: relative;
    z-index: 100;
}

.background{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}
.background::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';

    background-color: rgba(0,0,0,0.7);
}

body {
   color: white;
   text-align: center;
   font-family: 'Abel', sans-serif;
   background-color: black;
}

.fadeIn1 {
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn
}

.fadeIn2 {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
   -webkit-animation-delay: 1s;
   animation-delay: 1s
}

.fadeIn3 {
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
   -webkit-animation-delay: 2s;
   animation-delay: 2s
}

@-webkit-keyframes fadeIn {
   from {
      opacity: 0
   }

   to {
      opacity: 1
   }
}

@keyframes fadeIn {
   from {
      opacity: 0
   }

   to {
      opacity: 1
   }
}

p {
   padding: 0 30px
}

img {
   margin: 15px 2px;
   opacity: .9
}

img:hover {
   opacity: 1
}

hr {
   width: 25%
}

#c {
   width: 320px;
   min-height: 320px;
   position: absolute;
   left: 50%;
   top: 45%;
   padding: 30px;
   margin-left: -160px;
   margin-top: -160px;
   border: 5px solid rgba(51, 51, 51, .03);
   border-radius: 3px
}

#z {
   font-size: 12px;
   color: #7d7d7a
}

div>[href=''] {
   display: none
}

#z::before {
   content: 'Launching in '
}

a {
   text-decoration: none;
}

a:not(.orange-hover):link {
   color: #9ecce2;
}

a:not(.orange-hover):visited {
   color: #9ecce2;
}

a:not(.orange-hover):hover {
   color: rgb(28, 164, 255);
   text-decoration: underline;
}

a:not(.orange-hover):active {
   color: #9ecce2;
}

.orange-hover {
   color: #e3dcf3;
}

.orange-hover:hover {
   color: rgb(241, 144, 32);
}

#myVideo {
    width: 100%;
    overflow-x: hidden;
}